<img style="float: right; margin: 30px 15px 15px 15px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFzQj91sOlkeDFkg5HDbjtR4QJYmLXkfMNig&usqp=CAU" width="500px" height="180px" /> 


# <font color= 'navy'> Creación de Dataset - Desempleo en USA</font>
### <font color= #2E9AFE> Ética para la Ciencia de Datos</font>


- <Strong> José Manuel Haces López - 734759</Strong>


- <Strong> Claudia Celeste Castillejos Jáuregui - 735868 </Strong>


- <Strong> Marcela Quintero Perez - 717644 </Strong>


- <Strong> Pablo Ivan Orosco Beltran - 723252 </Strong>


<Strong> Fecha </Strong>: 2023


<Strong> Link GitHub </Strong>:  https://github.com/JManuelHaces/Proyecto_EticaCD

In [1]:
# Importando el archivo py con las Utilidades que usaremos
from Utils import Generador_Datos

## 1. Dataset de Desempleo por Grupos

In [2]:
# Obteniendo los datos de desempleo por gruppos
unemployemnt_data_usa = Generador_Datos(path_inputs='./Data/Raw/', path_outputs='./Data/Procesado/').gen_unemployment_data()

# Mostrando los datos
unemployemnt_data_usa.head()

,Fecha,Escuela_Primaria,Preparatoria,Tecnico,Profesional,Blanco,Negro,Asiatico,Hispano,Hombre,Mujer
0,2010-01-01,15.3,10.2,8.6,4.9,8.8,16.5,8.3,12.9,10.2,7.9
1,2010-02-01,15.8,10.7,8.1,4.9,8.9,16.1,8.2,12.7,10.3,8.0
2,2010-03-01,14.9,11.0,8.4,4.9,8.9,16.8,7.6,12.9,10.2,8.1
3,2010-04-01,14.7,10.8,8.4,4.8,9.0,16.6,7.0,12.5,10.2,8.3
4,2010-05-01,14.6,10.9,8.2,4.6,8.7,15.5,7.8,12.0,9.7,8.1

## 2. Generando Archivo Poblacional por Raza

In [3]:
# Path
path = './Data/Raw/Population_States_Race/'

# Obteniendo los datos de poblacion por raza
df_total, df_estados = Generador_Datos(path_inputs='./Data/Raw/', path_outputs='./Data/Procesado/').get_population_by_race(path_files=path)

# Mostrando los datos generales
df_total.head()

,Estado,Year,Blanco_Cantidad,Negro_Cantidad,Asiatico_Cantidad,Hispano_Cantidad
0,United States,2010,191844300.0,36217100.0,14275400.0,49603000
1,United States,2011,192080600.0,36478000.0,14557700.0,50801600
2,United States,2012,192305000.0,36797500.0,15067900.0,51773400
3,United States,2013,192379500.0,37122600.0,15505700.0,52764900
4,United States,2014,192419600.0,37599400.0,16156500.0,54059600

In [4]:
df_estados.head()

,Estado,Year,Blanco_Cantidad,Negro_Cantidad,Asiatico_Cantidad,Hispano_Cantidad
0,Alabama,2010,3133000.0,1212100.0,49300.0,176400
1,Alaska,2010,439300.0,20500.0,35500.0,37900
2,Arizona,2010,3628600.0,236200.0,165900.0,1857400
3,Arkansas,2010,2113800.0,443000.0,32300.0,178300
4,California,2010,14600800.0,2042700.0,4777200.0,13825100

## 3) Generando Archivo Poblacional por Género

In [5]:
# Path
path = './Data/Raw/Population_States_Gender/'

# Cargando los datos de género
df_total_gender, df_estados_gender = Generador_Datos(path_inputs='./Data/Raw/', path_outputs='./Data/Procesado/').get_population_by_gender(path_files=path)

df_total_gender.head()

          Estado  Year  Hombre_Cantidad  Mujer_Cantidad
0  United States  2010        146735000       154071300
1  United States  2011        147958500       155122200
2  United States  2012        149124800       156251800
3  United States  2013        150298300       157207200
4  United States  2014        151538800       158673400

In [6]:
df_estados_gender.head()

       Estado  Year  Hombre_Cantidad  Mujer_Cantidad
0     Alabama  2010          2243900         2407500
1      Alaska  2010           347700          336900
2     Arizona  2010          3077700         3179300
3    Arkansas  2010          1381900         1452100
4  California  2010         17997100        18518600

## 4) Juntando y Exportando

In [7]:
df_total_gen, df_estados_gen = Generador_Datos(path_inputs='./Data/Raw/', path_outputs='./Data/Procesado/').merge_dfs(df_total=df_total,
                                                                                                        df_total_gender=df_total_gender,
                                                                                                        df_estados=df_estados,
                                                                                                        df_estados_gender=df_estados_gender)

df_total_gen.head()

,Estado,Year,Blanco_Cantidad,Negro_Cantidad,Asiatico_Cantidad,Hispano_Cantidad,Hombre_Cantidad,Mujer_Cantidad
0,United States,2010,191844300.0,36217100.0,14275400.0,49603000,146735000,154071300
1,United States,2011,192080600.0,36478000.0,14557700.0,50801600,147958500,155122200
2,United States,2012,192305000.0,36797500.0,15067900.0,51773400,149124800,156251800
3,United States,2013,192379500.0,37122600.0,15505700.0,52764900,150298300,157207200
4,United States,2014,192419600.0,37599400.0,16156500.0,54059600,151538800,158673400

In [8]:
df_estados_gen.head()

,Estado,Year,Blanco_Cantidad,Negro_Cantidad,Asiatico_Cantidad,Hispano_Cantidad,Hombre_Cantidad,Mujer_Cantidad
0,Alabama,2010,3133000.0,1212100.0,49300.0,176400,2243900,2407500
1,Alaska,2010,439300.0,20500.0,35500.0,37900,347700,336900
2,Arizona,2010,3628600.0,236200.0,165900.0,1857400,3077700,3179300
3,Arkansas,2010,2113800.0,443000.0,32300.0,178300,1381900,1452100
4,California,2010,14600800.0,2042700.0,4777200.0,13825100,17997100,18518600

## 5) Agregando las Magnitudes

In [9]:
# Obteniendo los datos de desempleo
desempleo = Generador_Datos(path_inputs='./Data/Raw/', path_outputs='./Data/Procesado/').get_unemployment()

desempleo.head()

       Fecha  Year  Blanco  Negro  Asiatico  Hispano  Hombre  Mujer
0 2010-01-01  2010   0.088  0.165     0.083    0.129   0.102  0.079
1 2010-02-01  2010   0.089  0.161     0.082    0.127   0.103  0.080
2 2010-03-01  2010   0.089  0.168     0.076    0.129   0.102  0.081
3 2010-04-01  2010   0.090  0.166     0.070    0.125   0.102  0.083
4 2010-05-01  2010   0.087  0.155     0.078    0.120   0.097  0.081

In [10]:
desempleo.head()

       Fecha  Year  Blanco  Negro  Asiatico  Hispano  Hombre  Mujer
0 2010-01-01  2010   0.088  0.165     0.083    0.129   0.102  0.079
1 2010-02-01  2010   0.089  0.161     0.082    0.127   0.103  0.080
2 2010-03-01  2010   0.089  0.168     0.076    0.129   0.102  0.081
3 2010-04-01  2010   0.090  0.166     0.070    0.125   0.102  0.083
4 2010-05-01  2010   0.087  0.155     0.078    0.120   0.097  0.081

In [11]:
df_total.head()

,Estado,Year,Blanco_Cantidad,Negro_Cantidad,Asiatico_Cantidad,Hispano_Cantidad
0,United States,2010,191844300.0,36217100.0,14275400.0,49603000
1,United States,2011,192080600.0,36478000.0,14557700.0,50801600
2,United States,2012,192305000.0,36797500.0,15067900.0,51773400
3,United States,2013,192379500.0,37122600.0,15505700.0,52764900
4,United States,2014,192419600.0,37599400.0,16156500.0,54059600

In [12]:
# Generando el DF general
df_general = Generador_Datos(path_inputs='./Data/Raw/', path_outputs='./Data/Procesado/').get_general_data(desempleo=desempleo,
                                                                                                           df=df_total_gen)

df_general.head()

,Fecha,Year,Blanco,Negro,Asiatico,Hispano,Hombre,Mujer,Estado,Blanco_Cantidad,Negro_Cantidad,Asiatico_Cantidad,Hispano_Cantidad,Hombre_Cantidad,Mujer_Cantidad
0,2010-01-01,2010,8.8,16.5,8.3,12.9,10.2,7.9,United States,16882298,5975821,1184858,6398787,14966969,12171632
1,2010-02-01,2010,8.9,16.1,8.2,12.7,10.3,8.0,United States,17074142,5830953,1170582,6299581,15113705,12325704
2,2010-03-01,2010,8.9,16.8,7.6,12.9,10.2,8.1,United States,17074142,6084472,1084930,6398787,14966969,12479775
3,2010-04-01,2010,9.0,16.6,7.0,12.5,10.2,8.3,United States,17265987,6012038,999278,6200375,14966969,12787917
4,2010-05-01,2010,8.7,15.5,7.8,12.0,9.7,8.1,United States,16690454,5613650,1113481,5952360,14233294,12479775